<!-- the full page build in jinja2 template in database app -->
{% extends "mapmaker/html5base.html" %}

  {% block headercss %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="http://tools.newbreedmarketing.com/static/css/magnific-popup.css">
<style>
.white-popup-block {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
}
</style>
  {% endblock %}

  {% block headerjs %}
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  {% endblock %}

  {% block content %}
{{ markup.before|safe }}
  {{ newhtmlstring|safe }}
  <script type="text/javascript">var locations = [{% for location in locations %} {{ location }}, {% endfor %}];</script>  
{{ markup.inbetween|safe }}
{{ newmapstring|safe }}
  {{ markup.after|safe }}
  {{ markup.jscode|safe }}
{% endblock %}
