<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>New Breed Marketing map database</title>
  <meta name="description" content="The front face of database">
  <meta name="author" content="Andy Reagan">

  {% block headercss %}
  {% endblock %}

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% block headerjs %}
  {% endblock %}
</head>

<body>
  {% block bodyjs %}
  {% endblock %}

  {% block content %}
  {% endblock %}
</body>
</html>
